@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:wght@700&display=swap');

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    color: #5e5941;
    background-color: #F8F0DC;
    /* height: 100vh; Ref: https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
} 

h1, h2 {
    font-family: Ubuntu, sans-serif;
}

/* Header */

header {
    background-color: #787254;
    color: #fff;
    position: fixed;
    padding: 15px;
    width: 100%;
    top: 0;
    clear: both;
    z-index: 1;
}

#logo {
    float: left;
}

/* Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

nav {
    float: right;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    margin-right: 15px;
}

.active{
    background-color: #fff;
    color: #787254;
    border-radius: 15px;
}

a:hover{
    background-color: #fff;
    color: #787254;
    border-radius: 15px;
}

/* Home Image */

#homeimage {
    margin-top: 49px;
    height: 750px;
    width: 1;
    background: url("/assets/images/coffeebeans.webp") no-repeat center;
    background-size: cover;
}

#bigheading {
    font-family: Ubuntu, sans-serif;
    font-size: 6rem;
    color: #fff;
    width: 40%;
    position: relative;
    left: 15%;
    top: 15%;
    text-shadow: 2px 2px 30px #787254;
    transition: 0.5;
}

/* Testimonials section */

#testimonials {
    background-color: #F8F0DC;
    padding: 3% 15%;
}

.testimonialitem{
    padding: 5px 50px 0 50px;
    line-height: 1.8;
    background-color: #efe4c6;
    margin-bottom: 40px;
    border-radius: 10px;
}

.testimonialitem p{
    font-style: italic;
    padding: 0px;
    text-align: justify;
}

.author {
    font-weight: 400;
    text-align: right;
    padding: 0;
    padding-bottom: 20px;
}

/* Footer */

footer {
    background-color: #787254;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 15px;
    bottom: 0;
    /* position: absolute; */
    font-size: 1em;
}


span i {
    margin: 5px 10px 0 10px;
}

/* About Us Page */

#aboutsection, #menusection, #contactsection {
    margin-top: 49px;
    background-color: #F8F0DC;
    padding: 3% 15%;
    line-height: 1.8;
    text-align: justify;
    min-height: 100vh;
    position: relative;
}

#contactsection {
    min-height: 80vh;
}

#flex-aboutus, #flex-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#flex-aboutus > div {
    width: 500px;
    padding: 15px;
    margin-bottom: 100px;
}

#flex-aboutus > div > p {
    margin-top: 0;
}

#imginsidecafe {
    width: 500px;
    border: 5px solid white;
}

/* Food Menu Page */

#menusection {
    padding-bottom: 100px; 
}

#menufood {
    width: 70%;
    margin-bottom: 20px;
    margin: auto;
}

.foodtitle {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}
.menuprice {
    float: right;
    font-weight: 700;
}
.menufooddescription {
    clear: left;
}

hr {
    margin-top: 20px;
    width: 80%;
}

/* Contact Page */

#name, #email, #inquiry, textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.button {
    background-color: #5e5941;
    color: white;
    width:90px;
    font-weight: 700;
    height: 30px;
} 

#formside {
    /* background-color: lightsteelblue; */
    padding: 50px;
}

input, select, textarea {
    font-family: Montserrat, sans-serif;
}

textarea {
    height: 7rem;
}

@media screen and (max-width: 700px) {
    
    nav {
        float: none;
        margin: 0 auto;
        width: 90%;
        padding-top: 40px;
        /* background-color: red; */
    }

    #bigheading {
        font-size: 4.5rem;
        width: 50%;
        position: relative;
    }

}